<!--<div class="px-5 col-12" style="margin-top: 5rem;">
    <h1 class="mx-auto text-center mb-5">Login</h1>
    <form class="col-4 mx-auto mt-5" action="" (submit)="logIn()">
        <input 
            type="text" 
            placeholder="Nom d'utlisateur" 
            Nom="Nom d'utlisateur" 
            id="Nom d'utlisateur" 
            style="border: 1px solid #fffa;" 
            class="my-3 bg-transparent rounded p-2 col-12 d-block text-light" 
            [(ngModel)]="Nom_utlisateur"
        />
        <input 
            type="password" 
            placeholder="Password" 
            Nom="password" 
            id="password" 
            style="border: 1px solid #fffa;" 
            class="my-3 bg-transparent rounded p-2 col-12 d-block text-light" 
            [(ngModel)]="password"
        />
        <input 
            type="submit"
            value="Log in" 
            style="border: 1px solid #fffa;" 
            class="mt-5 rounded col-2 d-block btn btn-primary" 
        />
        <h4 
            *ngIf="error"
            style="text-align: center;" 
            class="alert-danger p-2 m-5 rounded"
        >{{error}}</h4>
    </form>
</div>
-->


<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" aria-label="login" style="background: color #9a616D;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IDKA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarlogin">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="b-example-divider"></div>
  <section class="vh-100" style="background-color: #9A616D;" (submit)="logIn()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="./assets/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form > 
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #864141;"></i>
                      <span class="h1 fw-bold mb-0">IDKA</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Se connecter</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="Nom_d'utilisateur">Nom d'utilisateur</label>
                      <input type="email" id="Nom_d'utilisateur" class="form-control form-control-lg"  [(ngModel)]="Nom_utlisateur"/>
                      
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">mot de passe</label>
                      <input type="password" id="password" class="form-control form-control-lg"  [(ngModel)]="password" />
                    </div>
                   
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                    </div>
                    <h4 
                    *ngIf="error"
                    style="text-align: center;" 
                    class="alert-danger p-2 m-5 rounded"
                      >{{error}}</h4>
                    <a class="small text-muted" href="#!">mot de passe oublié?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n’avez pas un compte ? <a style="color: #393f81;" href="../register/register.component.ts" routerlink="/Register"> S’inscrire</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 